<!--
	@file all_jobs.html
	@brief the AngularJS partial 'all_jobs'
-->

<h1>DnaAssembler - {{'ALL_JOBS' | translate}}</h1><br>

<ul>
	<li id="assemblyAllJobsSection"><h2>{{'ASSEMBLING' | translate}}</h2></li><br>
		<div ng-controller="assemblingController">
			<div ng-controller='allAssemblingController'>
				<table class="taskTable">
					<tr>
						<th>{{'ID' | translate}}</th>
						<th>{{'OWNER_SMALL' | translate}}</th>
						<th>{{'TASK_NAME' | translate}}</th>
						<th>{{'INPUT_FILE_I1_1' | translate}}</th>
						<th>{{'INPUT_FILE_I1_2' | translate}}</th>
						<th>{{'INPUT_FILE_O1_1' | translate}}</th>
						<th>{{'INPUT_FILE_O1_2' | translate}}</th>
						<th>{{'PAIRED_READS_ALGORITHM' | translate}}</th>
						<th>{{'K' | translate}}</th>
						<th>{{'GENOME_LENGTH' | translate}}</th>
				        <th>{{'INSERT_SIZE_MEAN_INWARD' | translate}}</th>
				        <th>{{'INSERT_SIZE_STD_DEV_INWARD' | translate}}</th>
				        <th>{{'INSERT_SIZE_MEAN_OUTWARD' | translate}}</th>
				        <th>{{'INSERT_SIZE_STD_DEV_OUTWARD' | translate}}</th>
						<th>{{'QUALITY_THRESHOLD' | translate}}</th>
						<th>{{'BFCOUNTER_THRESHOLD' | translate}}</th>
						<th>{{'SINGLE_EDGE_COUNTER_THRESHOLD' | translate}}</th>
						<th>{{'PAIRED_READS_PET_THRESHOLD_FROM' | translate}}</th>
						<th>{{'PAIRED_READS_PET_THRESHOLD_TO' | translate}}</th>
						<th>{{'PAIRED_READS_MP_THRESHOLD_FROM' | translate}}</th>
						<th>{{'PAIRED_READS_MP_THRESHOLD_TO' | translate}}</th>
						<th>{{'CORRECTION' | translate}}</th>
						<th>{{'INPUT_TIME' | translate}}</th>
						<th>{{'OUTPUT_TIME' | translate}}</th>
						<th>{{'SEE_RESULT' | translate}}</th>
						<th>{{'DOWNLOAD_RESULT' | translate}}</th>
						<th>{{'BREAK' | translate}}</th>
						<th>{{'DELETE' | translate}}</th>
						<th></th> 
						<th></th>
					</tr>
					<tr ng-model="row" ng-repeat="row in all_assembling_tasks" class="center">
						<td>{{row.id}}</td>
						<td>{{row.owner}}</td>
						<td>{{row.name}}</td>
				        <td id="i1_1_file_name{{row.id}}"></td>
				        <td id="i1_2_file_name{{row.id}}"></td>
				        <td id="o1_1_file_name{{row.id}}"></td>
				        <td id="o1_2_file_name{{row.id}}">{{parseFileName(row.id, row.i1_1_file_name, row.i1_2_file_name, row.o1_1_file_name, row.o1_2_file_name)}}</td>
						<td id="pairedReadsAlgorithm{{row.id}}">{{row.paired_reads_algorithm}}</td>
						<td>{{row.k}}</td>
						<td>{{row.genome_length}}</td>
				        <td id="insertSizeMeanInward{{row.id}}">
				        <td id="insertSizeStdDevInward{{row.id}}">
				        <td id="insertSizeMeanOutward{{row.id}}">
				        <td id="insertSizeStdDevOutward{{row.id}}">
						<td>{{row.quality_threshold}}</td>
						<td>{{row.bfcounter_threshold}}</td>
						<td>{{row.single_edge_counter_threshold}}</td>
						<td id="pairedReadsPetThresholdFrom{{row.id}}">
				        <td id="pairedReadsPetThresholdTo{{row.id}}">
						<td id="pairedReadsMpThresholdFrom{{row.id}}">
				        <td id="pairedReadsMpThresholdTo{{row.id}}">{{parsePairedReadsAlgorithm(row.id, row.paired_reads_algorithm, row.insert_size_mean_inward, row.insert_size_std_dev_inward, row.insert_size_mean_outward, row.insert_size_std_dev_outward, row.paired_reads_pet_threshold_from, row.paired_reads_pet_threshold_to, row.paired_reads_mp_threshold_from, row.paired_reads_mp_threshold_to)}}</td>
						<td>{{row.correct}}</td>
						<td id="inputTime{{row.id}}"></td>
						<td id="outputTime{{row.id}}">{{parseDate(row.id, row.input_time, row.output_time)}}</td>
						<td id="seeAssemblyTaskResultButton" ng-click="seeAssemblyTaskResult(row.id)" title="{{'SEE_RESULT_TITLE' | translate}}"><img ng-src="pict/open.png" /></td>
						<td id="downloadAssemblyTaskResultButton" ng-click="downloadAssemblyTaskResult(row.id)" title="{{'DOWNLOAD_RESULT_TITLE' | translate}}"><img ng-src="pict/download.png" /></td>
						<td id="breakTaskButton" ng-click="breakTask(row.id)" title="{{'BREAK_TASK_TITLE' | translate}}"><img ng-src="pict/stop.png" /></td>
						<td id="deleteTaskButton" ng-click="deleteTask(row)" title="{{'DELETE_TASK_TITLE' | translate}}"><img ng-src="pict/delete.png" /></td>
						<td><progress value={{row.progress}}>{{'PLEASE_WAIT' | translate}}...</progress></td>
						<td id="taskState{{row.id}}" title="{{row.state + '_TITLE' | translate}}">{{row.state | translate}}</td>
					</tr>
				</table>
			</div>
		</div>

	<br><br><br>

	<li id="alignmentAllJobsSection"><h2>{{'ALIGNMENT' | translate}}</h2></li><br>
		<div ng-controller="alignmentController">
			<div ng-controller='allAlignmentController'>
				<table class="taskTable">
					<tr>
						<th>{{'ID' | translate}}</th>
						<th>{{'OWNER_SMALL' | translate}}</th>
						<th>{{'TASK_NAME' | translate}}</th>
						<th>{{'SEQUENCE_FILE_NAME' | translate}}</th>
						<th>{{'REFERENCE_FILE_NAME' | translate}}</th>
						<th>{{'ALIGN_ALGORITHM' | translate}}</th>
						<th>{{'CIRCULAR' | translate}}</th>
						<th>{{'GAP_PENALTY' | translate}}</th>
						<th>AA</th>
						<th>AC</th>
						<th>AG</th>
						<th>AT</th>
						<th>CA</th>
						<th>CC</th>
						<th>CG</th>
						<th>CT</th>
						<th>GA</th>
						<th>GC</th>
						<th>GG</th>
						<th>GT</th>
						<th>TA</th>
						<th>TC</th>
						<th>TG</th>
						<th>TT</th>
						<th>{{'INPUT_TIME' | translate}}</th>
						<th>{{'OUTPUT_TIME' | translate}}</th> 
						<th>{{'SEE_RESULT' | translate}}</th>
						<th>{{'DOWNLOAD_RESULT' | translate}}</th>
						<th>{{'BREAK' | translate}}</th>
						<th>{{'DELETE' | translate}}</th>  
						<th></th>
						<th></th>
					</tr>
					<tr ng-model="task" ng-repeat="task in all_align_tasks" class="center">
						<td>{{task.id}}</td>
						<td>{{task.owner}}</td>
						<td>{{task.name}}</td>
						<td>{{task.sequence_file_name}}</td>
						<td>{{task.reference_file_name}}</td>
						<td>{{task.align_algorithm}}</td>
						<td>{{task.circular}}</td>
						<td>{{task.gap_penalty}}</td>
						<td>{{task.AA}}</td>
						<td>{{task.AC}}</td>
						<td>{{task.AG}}</td>
						<td>{{task.AT}}</td>
						<td>{{task.CA}}</td>
						<td>{{task.CC}}</td>
						<td>{{task.CG}}</td>
						<td>{{task.CT}}</td>
						<td>{{task.GA}}</td>
						<td>{{task.GC}}</td>
						<td>{{task.GG}}</td>
						<td>{{task.GT}}</td>
						<td>{{task.TA}}</td>
						<td>{{task.TC}}</td>
						<td>{{task.TG}}</td>
						<td>{{task.TT}}</td>
						<td id="alignTask_inputTime{{task.id}}"></td>
						<td id="alignTask_outputTime{{task.id}}">{{parseDate(task.id, task.input_time, task.output_time)}}</td>
						<td id="seeAlignTaskResultButton" ng-click="seeAlignTaskResult(task.id)" title="{{'SEE_RESULT_TITLE' | translate}}"><img ng-src="pict/open.png" /></td>
						<td id="downloadAlignTaskResultButton" ng-click="downloadAlignTaskResult(task.id)" title="{{'DOWNLOAD_RESULT_TITLE' | translate}}"><img ng-src="pict/download.png" /></td>
						<td id="breakAlignTaskButton" ng-click="breakAlignTask(task.id)" title="{{'BREAK_TASK_TITLE' | translate}}"><img ng-src="pict/stop.png" /></td>
						<td id="deleteAlignTaskButton" ng-click="deleteAlignTask(task)" title="{{'DELETE_TASK_TITLE' | translate}}"><img ng-src="pict/delete.png" /></td>
						<td><progress value={{task.progress}}>{{'PLEASE_WAIT' | translate}}...</progress></td>
						<td title="{{task.state + '_TITLE' | translate}}">{{task.state | translate}}</td>
					</tr>
				</table>
			</div>
		</div>
</ul>
