<!--
	@file file_formats.html
	@brief the AngularJS partial 'file_formats'
-->

<h1>DnaAssembler - {{'IN_OUT_FILE_FORMATS' | translate}}</h1><br>

	<ul>
		<li id="assembling_file_formats_section"><h2>{{'ASSEMBLING' | translate}}</h2></li>
		<ul>
			<li><h3>{{'IN_FILE_FORMATS' | translate}}</h3></li>
			<ul>
				<li id="assembling_in_fasta_file_format"><b>{{'FASTA' | translate}}: </b><em id="in_assem_fasta_inst">{{'IN_ASSEMBLING_FASTA_INSTRUCTION' | translate}}</em></li><br>
				<textarea id="assembling_in_fasta_file_format_example" rows="5" cols="60" disabled>
>gi|31563518|ref|NP_852610.1| [Homo sapiens]
AACTCATCTCATCGACATACTCATCATCCGACGACGACTCTCTCTGCAGCAGCATCCCCC
>gi|31563518|ref|NP_852610.1| [Homo sapiens]
TCTCAGCAGCATCATCATCAGCGCGCATCATCGCGCGACTCATCGGGCATACTCAGGCCA</textarea><br><br>
				<li id="assembling_in_fastq_file_format"><b>{{'FASTQ' | translate}}: </b><em id="fastq_inst">{{'FASTQ_INSTRUCTION' | translate}}</em></li><br>
				<textarea id="assembling_in_fastq_file_format_example" rows="9" cols="60" disabled>
@HWUSI-EAS100R:5:72:940:1973#0/1
ACTACGCGACTACTACTCGCGCATCATCATCATCTCTCAGGGCGCGACTAATCTCGCGCC
+
FFFFFFFFBFFFFFFFFFFFFFCFFFFFFFFFFFFFFFFFFFFAFFFFFF?<?BBBBBBB
@HWUSI-EAS100R:5:72:940:1973#0/2
ACACTCTCAGCGCGCGCATCACACACCTCATCATCATCGCGCAGCATCATCTACAGCGCC
+
AAAAAAACCCCBBBBBBBBBBFFFFFFFFFFFFFFFFFFFFFFFFFF<>>>>>>>>>>AA</textarea><br><br>
			</ul>

			<li><h3>{{'OUT_FILE_FORMATS' | translate}}</h3></li>
			<ul>
				<li id="assembling_out_fasta_file_format"><b>{{'FASTA' | translate}}: </b><em id="out_assem_fasta_inst">{{'OUT_ASSEMBLING_FASTA_INSTRUCTION' | translate}}</em></li><br>
				<textarea id="assembling_out_fasta_file_format_example" rows="5" cols="60" disabled>
>out_0_60
AACTACTCATGACTCGCGCATCATCAGCGCGCGCGCTACTACGACGACAGCACCCGCGGA
>out_1_55
ACTCGCTCTACATCGACGACGACTACTCAGCGCGCTACAACATCACCATTTACCC</textarea><br><br>
				<em id="assem_result_interpret">{{'ASSEMBLING_RESULT_INTERPRETATION' | translate}}</em>
			</ul><br><br>
		</ul>


		<li id="alignment_file_formats_section"><h2>{{'ALIGNMENT' | translate}}</h2></li>
		<ul>
			<li><h3>{{'IN_FILE_FORMATS' | translate}}</h3></li>
			<ul>
				<li id="alignment_in_fasta_file_format"><b>{{'FASTA' | translate}}: </b><em id="in_align_fasta_inst">{{'IN_ALIGNMENT_FASTA_INSTRUCTION' | translate}}</em></li><br>
				<textarea id="alignment_in_fasta_file_format_example" rows="3" cols="60" disabled>
>gi|31563518|ref|NP_852610.1| [Homo sapiens]
AACTACTCTCTACTCTCATCTCTCTCATCAATGGGCGCTCTGGGGCATCAGCGCGGCAT</textarea><br><br>
			</ul>

			<li><h3>{{'OUT_FILE_FORMATS' | translate}}</h3></li>
			<ul>
				<li id="alignment_out_fasta_file_format"><b>{{'VCF' | translate}}: </b><em id="vcf_inst">{{'VCF_INSTRUCTION' | translate}}</em></li><br>
				<textarea id="alignment_out_fasta_file_format_example" rows="6" cols="60" disabled>
##fileformat=VCFv4.0
#CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO
.	267	seq1	A	G	.	.	.
.	312	seq1	A	AC	.	.	.
.	419	seq1	TC	T	.	.	.</textarea><br><br>
				<em id="align_result_interpret">{{'ALIGNMENT_RESULT_INTERPRETATION' | translate}}</em>
			</ul>
		</ul>
	</ul><br><br>

<hr /> 

	<h3>{{'REFERENCES' | translate}}</h3>
	<ul>
		<li id="fasta_wiki_reference"><em>wikipedia.org/wiki/FASTA_format</em></li>
		<li id="fastq_wiki_reference"><em>wikipedia.org/wiki/FASTQ_format</em></li>
		<li id="vcf_wiki_reference"><em>wikipedia.org/wiki/Variant_Call_Format</em></li>
		<li id="vcf_1000genomes_reference"><em>1000genomes.org/wiki/Analysis/Variant Call Format/vcf-variant-call-format-version-40</em></li>
	</ul>
