<!--
    @file long_reads_assembling.html
    @brief the AngularJS partial 'olc'
-->

<div ng-controller="olcController">
  <div ng-controller="userOLCController">
    <table>
      <tr>
        <td>{{'OLC_TASK_NAME' | translate}}:</td>
        <td><input type="text" id="newOLCTaskName" ng-model="params.newOLCTaskName"
                   class="center" title="{{'TASK_NAME_TITLE' | translate}}"></td>
      </tr>

      <tr>
        <td>{{'OLC_INPUT_FILE' | translate}}:</td>
        <td>
          <div ng-controller="userFilesController">
            <select id="longReadsFile" ng-model="params.longReadsFile"
                    name="longReadsFile"
                    title="{{'INPUT_FILE_LONG_READS_TITLE' | translate}}">
              <option id="longReadsFile_option_no_input" value="">{{'NO_INPUT' |
                translate}}
              </option>
              <option id="longReadsFile_option_{{row.file_name}}"
                      value="{{row.file_name}}" ng-model="row"
                      ng-repeat="row in user_files_fasta">{{row.file_name}}
              </option>
              <option id="longReadsFile_option_{{row.file_name}}"
                      value="{{row.file_name}}" ng-model="row"
                      ng-repeat="row in user_files_fastq">{{row.file_name}}
              </option>
            </select>
          </div>
        </td>
      </tr>

      <!--separator-->
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>{{'OLC_MINHASH_PARAMETERS' | translate}}</b></td>
      </tr>

      <tr>
        <td>{{'OLC_KMER_LENGTH' | translate}}:</td>
        <td><input type="text" id="kmerLength" ng-model="params.kmerLength" class="center"
                   title="{{'KMER_SIZE_TITLE' | translate}}"></td>
      </tr>

      <tr>
        <td>{{'OLC_SKETCH_NUM' | translate}}:</td>
        <td><input type="text" id="sketchNum" ng-model="params.sketchNum" class="center"
                   title="{{'SKETCHNUM_TITLE' | translate}}"></td>
      </tr>

      <tr>
        <td>{{'OLC_MIN_JACCARD_SIM' | translate}}:</td>
        <td><input type="text" id="minJaccardSim" ng-model="params.minJaccardSim"
                   class="center" title="{{'MIN_JACCARD_SIM_TITLE' | translate}}"></td>
      </tr>

      <!--separator-->
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>{{'OLC_SW_PARAMETERS' | translate}}</b></td>
      </tr>

      <tr>
        <td>{{'OLC_MATCH_SCORE' | translate}}:</td>
        <td><input type="text" id="matchScore" ng-model="params.matchScore" class="center"
                   title="{{'MATCH_SCORE_TITLE' | translate}}"></td>
      </tr>

      <tr>
        <td>{{'OLC_MISMATCH_SCORE' | translate}}:</td>
        <td><input type="text" id="mismatchScore" ng-model="params.mismatchScore"
                   class="center" title="{{'MISMATCH_SCORE_TITLE' | translate}}"></td>
      </tr>

      <tr>
        <td>{{'OLC_GAP_PENALTY' | translate}}:</td>
        <td><input type="text" id="gapPenalty" ng-model="params.gapPenalty" class="center"
                   title="{{'GAP_PENALTY_TITLE' | translate}}"></td>
      </tr>

      <tr>
        <td>{{'OLC_MIN_EDGE' | translate}}:</td>
        <td><input type="text" id="minEdge" ng-model="params.minEdge" class="center"
                   title="{{'MIN_EDGE_TITLE' | translate}}"></td>
      </tr>

      <!--separator-->
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>{{'OLC_MIN_CONTIG_LENGTH' | translate}}:</td>
        <td><input type="text" id="minContigLength" ng-model="params.minContigLength"
                   class="center" title="{{'MIN_CONTIG_LENGTH_TITLE' | translate}}"></td>
      </tr>

      <tr>
        <td>{{'OLC_PATH_WIDTH' | translate}}:</td>
        <td><input type="text" id="pathWidth" ng-model="params.pathWidth" class="center"
                   title="{{'PATH_WIDTH_TITLE' | translate}}"></td>
      </tr>

      <tr>
        <td>
          <button id="olcButton" ng-click="assembly()">{{'OLC_ADD_TASK' | translate}}!
          </button>
        </td>
        <td></td>
      </tr>
    </table>

    <table class="taskTable">
      <tr>
        <th>{{'ID' | translate}}</th>
        <th>{{'OLC_TASK_NAME' | translate}}</th>
        <th>{{'OLC_INPUT_FILE' | translate}}</th>
        <th>{{'OLC_KMER_LENGTH' | translate}}</th>
        <th>{{'OLC_SKETCH_NUM' | translate}}</th>
        <th>{{'OLC_MIN_JACCARD_SIM' | translate}}</th>
        <th>{{'OLC_MATCH_SCORE' | translate}}</th>
        <th>{{'OLC_MISMATCH_SCORE' | translate}}</th>
        <th>{{'OLC_GAP_PENALTY' | translate}}</th>
        <th>{{'OLC_MIN_EDGE' | translate}}</th>
        <th>{{'OLC_MIN_CONTIG_LENGTH' | translate}}</th>
        <th>{{'OLC_PATH_WIDTH' | translate}}</th>

        <th>{{'INPUT_TIME' | translate}}</th>
        <th>{{'OUTPUT_TIME' | translate}}</th>
        <th>{{'SEE_RESULT' | translate}}</th>
        <th>{{'DOWNLOAD_RESULT' | translate}}</th>
        <th>{{'BREAK' | translate}}</th>
        <th>{{'DELETE' | translate}}</th>
        <th></th>
        <th></th>
      </tr>
      <tr ng-model="task" ng-repeat="task in user_olc_tasks" class="center">
        <td>{{task.id}}</td>
        <td>{{task.name}}</td>
        <td>{{task.long_reads_file_name}}</td>
        <td>{{task.kmer_length}}</td>
        <td>{{task.sketch_num}}</td>
        <td>{{task.min_jaccard_sim}}</td>
        <td>{{task.match_score}}</td>
        <td>{{task.mismatch_score}}</td>
        <td>{{task.gap_penalty}}</td>
        <td>{{task.min_edge}}</td>
        <td>{{task.min_contig_length}}</td>
        <td>{{task.path_width}}</td>

        <td id="olcTask_inputTime{{task.id}}"></td>
        <td id="olcTask_outputTime{{task.id}}">{{parseDate(task.id, task.input_time,
          task.output_time)}}
        </td>
        <td id="seeOLCTaskResultButton" ng-click="seeOLCTaskResult(task.id)"
            title="{{'SEE_RESULT_TITLE' | translate}}"><img ng-src="pict/open.png"/></td>
        <td id="downloadOLCTaskResultButton"
            ng-click="downloadOLCTaskResult(task.id)"
            title="{{'DOWNLOAD_RESULT_TITLE' | translate}}"><img
            ng-src="pict/download.png"/></td>
        <td id="breakOLCTaskButton" ng-click="breakOLCTask(task.id)"
            title="{{'BREAK_TASK_TITLE' | translate}}"><img ng-src="pict/stop.png"/></td>
        <td id="deleteOLCTaskButton" ng-click="deleteOLCTask(task)"
            title="{{'DELETE_TASK_TITLE' | translate}}"><img ng-src="pict/delete.png"/></td>
        <td>
          <progress value={{task.progress}}>{{'PLEASE_WAIT' | translate}}...</progress>
        </td>
        <td title="{{task.state + '_TITLE' | translate}}">{{task.state | translate}}</td>
      </tr>
    </table>
  </div>
</div>