<div ng-controller="bstAssemblingController">
	<form name="addTaskForm" ng-show="!showTaskTable" novalidate>
		<table class="addTaskTable">
			<tr>
				<td id="label_enterName">{{'BST_TASK_NAME' | translate}}</td>
				<td><input type=text id="enterName" class="center" ng-model="params.taskName" required></td>
			</tr>
			<tr>
				<td id="label_inputFile">{{'BST_INPUT_FILE' | translate}}</td>
				<td>
					<div ng-controller="userFilesController">
						<select id="add_inputFile" ng-model="params.inputFile" name="add_inputFile" required>
							<option id="add_inputFile_option_no_input" value="">{{'NO_INPUT' | translate}}</option>
							<option id="add_inputFile_option_{{row.file_name}}" value="{{row.file_name}}" ng-model="row" ng-repeat="row in user_files_fasta">{{row.file_name}}</option>
						</select>
					</div>
				</td>
			</tr>
		    <tr>
				<td id="label_wordLength">{{'BST_WORD_LENGTH' | translate}}</td>
				<td><input id="wordLength" type="number" class="center" ng-model="params.wordLength" required></td>
			</tr>
		    <tr>
				<td id="label_minWordCount">{{'BST_MIN_WORD_COUNT' | translate}}</td>
				<td><input id="minWordCount" type="number" class="center" ng-model="params.minWordCount" required></td>
			</tr>
			<tr>
				<td id="label_maxWordCount">{{'BST_MAX_WORD_COUNT' | translate}}</td>
				<td><input id="maxWordCount" type="number" class="center" ng-model="params.maxWordCount" required></td>
			</tr>
			<tr>
				<td id="label_minAssociation">{{'BST_MIN_ASSOCIATION' | translate}}</td>
				<td><input id="minAssociation" type="number" class="center" ng-model="params.minAssociation" required></td>
			</tr>
			<tr>
				<td id="label_pathWidth">{{'BST_PATH_WIDTH' | translate}}</td>
				<td><input id="pathWidth" type="number" class="center" ng-model="params.pathWidth" required></td>
			</tr>
			<tr>
				<td><button id="addTaskSubmitButton" ng-disabled="addTaskForm.$invalid" ng-click="addTask()">{{'SUBMIT' | translate}}!</button></td>
			</tr>
		</table>
	</form>
	<table id="taskTable" class="taskTable center" ng-show="showTaskTable">
		<tr>
			<th>{{'BST_ID' | translate}}</th>
			<th>{{'BST_TASK_NAME' | translate}}</th>
			<th>{{'BST_INPUT_FILE' | translate}}</th>
			<th>{{'BST_WORD_LENGTH' | translate}}</th>
			<th>{{'BST_MIN_WORD_COUNT' | translate}}</th>
			<th>{{'BST_MAX_WORD_COUNT' | translate}}</th>
			<th>{{'BST_MIN_ASSOCIATION' | translate}}</th>
			<th>{{'BST_PATH_WIDTH' | translate}}</th>
			<th>{{'BST_DOWNLOAD_RESULT' | translate}}</th>
		</tr>
		<tr>
			<td>{{row.id}}</td>
			<td>{{row.taskName}}</td>
			<td>{{row.inputFile}}</td>
			<td>{{row.wordLength}}</td>
			<td>{{row.minWordCount}}</td>
			<td>{{row.maxWordCount}}</td>
			<td>{{row.minAssociation}}</td>
			<td>{{row.pathWidth}}</td>
			<td ng-click="downloadAssemblyTaskResult(row.id)"><img ng-src="pict/download.png" /></td>
		</tr>
	</table>
</div>
