<!--
	@file new_user_popup.html
	@brief the AngularJS partial 'new_user_popup'
-->

<div class="login-wrap" ng-controller="usersController">
	<div class="form">
		<input type="text" id="addUserUsername" placeholder="{{'USERNAME' | translate }}" name="un" title="{{'USERNAME_NEW_USER_TITLE' | translate}}" />
		<input type="password" id="addUserPassword" placeholder="{{'PASSWORD' | translate }}" name="pw" title="{{'PASSWORD_NEW_USER_TITLE' | translate}}" />
		<input type="password" id="addUserPasswordConfirmation" placeholder="{{'PASSWORD_CONFIRMATION' | translate }}" name="pw_conf" title="{{'PASSWORD_CONFIRMATION_TITLE' | translate}}" />
		<input type="text" id="addUserMail" placeholder="{{'OPTIONAL_MAIL' | translate }}" name="mail" title="{{'OPTIONAL_MAIL_TITLE' | translate}}" />
		<button id="addUserSubmitButton" ng-click="addUser()" title="{{'ADD_USER_TITLE' | translate}}">{{'ADD' | translate}}</button>
	</div>
</div>


