<!--
    @file scaffolding.html
    @brief the AngularJS partial 'scaffolding'
-->

<h1>DnaAssembler - {{'SCAFFOLDING' | translate}}</h1><br>

<div ng-controller="scaffoldingController">
    <div ng-controller="userScaffoldingController">
        <div id="createScaffoldFromContigs"><h2>{{'SCAFFOLD_INFO' | translate}}</h2></div><br>
        <table>
            <tr>
                <td>{{'TASK_NAME' | translate}}:</td>
                <td><input type="text" id="newScaffoldTaskName" ng-model="newScaffoldTaskName" class="center" title="{{'TASK_NAME_TITLE' | translate}}"></td>
            </tr>
            <tr>
                <td>{{'INPUT_FILE_CONTIGS' | translate}}:</td>
                <td>
                    <div ng-controller="userFilesController">
                        <select id="contigsFile" ng-model="contigsFile" name="contigsFile" title="{{'INPUT_FILE_CONTIGS_TITLE' | translate}}">
                            <option id="contigsFile_option_no_input" value="">{{'NO_INPUT' | translate}}</option>
                            <option id="contigsFile_option_{{row.file_name}}" value="{{row.file_name}}" ng-model="row" ng-repeat="row in user_files_fasta">{{row.file_name}}</option>
                            <option id="contigsFile_option_{{row.file_name}}" value="{{row.file_name}}" ng-model="row" ng-repeat="row in user_files_fastq">{{row.file_name}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{'INPUT_FILE_LONG_READS' | translate}}:</td>
                <td>
                    <div ng-controller="userFilesController">
                        <select id="longReadsFile" ng-model="longReadsFile" name="longReadsFile" title="{{'INPUT_FILE_LONG_READS_TITLE' | translate}}">
                            <option id="longReadsFile_option_no_input" value="">{{'NO_INPUT' | translate}}</option>
                            <option id="longReadsFile_option_{{row.file_name}}" value="{{row.file_name}}" ng-model="row" ng-repeat="row in user_files_fasta">{{row.file_name}}</option>
                            <option id="longReadsFile_option_{{row.file_name}}" value="{{row.file_name}}" ng-model="row" ng-repeat="row in user_files_fastq">{{row.file_name}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{'KMER_SIZE' | translate}}:</td>
                <td><input type="text" id="kmerSize" ng-model="kmerSize" class="center" title="{{'KMER_SIZE_TITLE' | translate}}"></td>
            </tr>
            <tr>
                <td>{{'DISTANCE' | translate}}:</td>
                <td><input type="text" id="distance" ng-model="distance" class="center" title="{{'DISTANCE_TITLE' | translate}}"></td>
            </tr>
            <tr>
                <td>{{'STEP' | translate}}:</td>
                <td><input type="text" id="step" ng-model="step" class="center" title="{{'STEP_TITLE' | translate}}"></td>
            </tr>
            <tr>
                <td>{{'MIN_LINKS' | translate}}:</td>
                <td><input type="text" id="minLinks" ng-model="minLinks" class="center" title="{{'MIN_LINKS_TITLE' | translate}}"></td>
            </tr>
            <tr>
                <td>{{'MAX_RATIO' | translate}}:</td>
                <td><input type="text" id="maxRatio" ng-model="maxRatio" class="center" title="{{'MAX_RATIO_TITLE' | translate}}"></td>
            </tr>
            <tr>
                <td>{{'MIN_CONTIG_LENGTH' | translate}}:</td>
                <td><input type="text" id="minContigLength" ng-model="minContigLength" class="center" title="{{'MIN_CONTIG_LENGTH_TITLE' | translate}}"></td>
            </tr>
            <tr>
                <td><button id="scaffoldButton" ng-click="scaffold()">{{'CREATE_SCAFFOLD' | translate}}!</button></td>
                <td></td>
            </tr>
        </table>

        <table class="taskTable">
            <tr>
                <th>{{'ID' | translate}}</th>
                <th>{{'TASK_NAME' | translate}}</th>
                <th>{{'INPUT_FILE_CONTIGS' | translate}}</th>
                <th>{{'INPUT_FILE_LONG_READS' | translate}}</th>
                <th>{{'KMER_SIZE' | translate}}</th>
                <th>{{'DISTANCE' | translate}}</th>
                <th>{{'STEP' | translate}}</th>
                <th>{{'MIN_LINKS' | translate}}</th>
                <th>{{'MAX_RATIO' | translate}}</th>
                <th>{{'MIN_CONTIG_LENGTH' | translate}}</th>

                <th>{{'INPUT_TIME' | translate}}</th>
                <th>{{'OUTPUT_TIME' | translate}}</th>
                <th>{{'SEE_RESULT' | translate}}</th>
                <th>{{'DOWNLOAD_RESULT' | translate}}</th>
                <th>{{'BREAK' | translate}}</th>
                <th>{{'DELETE' | translate}}</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-model="task" ng-repeat="task in user_scaffold_tasks" class="center">
                <td>{{task.id}}</td>
                <td>{{task.name}}</td>
                <td>{{task.contigs_file_name}}</td>
                <td>{{task.long_reads_file_name}}</td>
                <td>{{task.kmer_size}}</td>
                <td>{{task.distance}}</td>
                <td>{{task.step}}</td>
                <td>{{task.min_links}}</td>
                <td>{{task.max_ratio}}</td>
                <td>{{task.min_contig_length}}</td>

                <td id="scaffoldTask_inputTime{{task.id}}"></td>
                <td id="scaffoldTask_outputTime{{task.id}}">{{parseDate(task.id, task.input_time, task.output_time)}}</td>
                <td id="seeScaffoldTaskResultButton" ng-click="seeScaffoldTaskResult(task.id)" title="{{'SEE_RESULT_TITLE' | translate}}"><img ng-src="pict/open.png" /></td>
                <td id="downloadScaffoldTaskResultButton" ng-click="downloadScaffoldTaskResult(task.id)" title="{{'DOWNLOAD_RESULT_TITLE' | translate}}"><img ng-src="pict/download.png" /></td>
                <td id="breakScaffoldTaskButton" ng-click="breakScaffoldTask(task.id)" title="{{'BREAK_TASK_TITLE' | translate}}"><img ng-src="pict/stop.png" /></td>
                <td id="deleteScaffoldTaskButton" ng-click="deleteScaffoldTask(task)" title="{{'DELETE_TASK_TITLE' | translate}}"><img ng-src="pict/delete.png" /></td>
                <td><progress value={{task.progress}}>{{'PLEASE_WAIT' | translate}}...</progress></td>
                <td title="{{task.state + '_TITLE' | translate}}">{{task.state | translate}}</td>
            </tr>
        </table>
    </div>
</div>