<!--
	@file user_settings_popup.html
	@brief the AngularJS partial 'user_settings_popup'
-->

<div class="user_settings-wrap" ng-controller="usersController">
	<div class="form">
		<table>
			<tr>
				<td class="label" id="newPasswordLabel">{{'NEW_PASSWORD' | translate}}:</td>
				<td><input type="password" id="newPassword" ng-model="newPassword" class="center" title="{{'NEW_PASSWORD_TITLE' | translate}}"></td>
			</tr>
			<tr>
				<td class="label" id="newPasswordConfirmationLabel">{{'NEW_PASSWORD_CONFIRMATION' | translate}}:</td>
				<td><input type="password" id="newPasswordConfirmation" ng-model="newPasswordConfirmation" class="center" title="{{'NEW_PASSWORD_CONFIRMATION_TITLE' | translate}}"></td>
			</tr>
			<tr>
				<td colspan="2"><button id="changePasswordButton" ng-click="changePassword()" title="{{'CHANGE_PASSWORD_TITLE' | translate}}">{{'CHANGE_PASSWORD' | translate}}</button></td>
			</tr>
			<tr>
				<td class="label"></td>
				<td class="label"></td>
			</tr>
			<tr>
				<td class="label"></td>
				<td class="label"></td>
			</tr>
			<tr>
				<td class="label" id="newMailAddressLabel">{{'EMAIL_ADDRESS' | translate}}:</td>
				<td><input type="text" id="newMailAddress" ng-model="newMailAddress" class="center" title="{{'EMAIL_ADDRESS_TITLE' | translate}}"></td>
			</tr>
			<tr>
				<td colspan="2"><button id="changeMailAddressButton" ng-click="changeMailAddress()" title="{{'CHANGE_EMAIL_ADDRESS_TITLE' | translate}}">{{'CHANGE_EMAIL_ADDRESS' | translate}}</button></td>
			<tr>
				<td class="label"></td>
				<td class="label"></td>
			</tr>
			<tr>
				<td class="label"></td>
				<td class="label"></td>
			</tr>
			<tr>
				<td class="label" id="passwordLabel">{{'PASSWORD' | translate}}:</td>
				<td><input type="text" id="password" ng-model="password" class="center" title="{{'PASSWORD_TITLE' | translate}}"></td>
			</tr>
			<tr>
				<td colspan="2"><button id="deleteUserButton" ng-click="deleteUser()" title="{{'DELETE_USER_TITLE' | translate}}">{{'DELETE_USER_LARGE' | translate}}</button></td>
			</tr>
		</table>
	</div>
</div>


