/**
 * \file styles.css
 * \brief application styles
 */

.fieldset-auto-width {
	display: inline-block;
}

.upperBeam{
	background:#F8F8FF;
	height:30px;
	width:100%;
	margin: 0px auto;
	width:100%;
}

.upperBeamButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}

.upperBeamButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#right_icons_ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#right_icons_ul > li {
	float:right;
	padding: 5px;
}

#left_icons_ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#left_icons_ul > li {
	float:left;
	padding: 5px;
}

#user_tabs_ul, #admin_tabs_ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#user_tabs_li {
	width:180px;
	float: left;
	border: 1px solid #000;
	border-bottom-width: 0;
	margin: 3px 3px 0px 3px;
	padding: 5px 5px 0px 5px;
	background-color: #CCC;
	color: #696969;
}

#user_tabs_li {
	width:180px;
	float: left;
	border: 1px solid #000;
	border-bottom-width: 0;
	margin: 3px 3px 0px 3px;
	padding: 5px 5px 0px 5px;
	background-color: #CCC;
	color: #696969;
}

#admin_tabs_li {
	width:180px;
	float: left;
	border: 2px solid #000;
	border-bottom-width: 0;
	margin: 3px 3px 0px 3px;
	padding: 5px 5px 0px 5px;
	background-color: #CCC;
	color: #696969;
}

#user_tabs_li.active, #admin_tabs_li.active {
	background-color: #FFF;
	color: #000;
}

#content {
	border: 1px solid black;
	background:white;
	min-width:97%;
	padding: 0 1em;
	clear: both;
	/*max-width:100%;*/
display: table;
}

table.taskTable th, table.taskTable td {
	border: 1px solid black;
}

table.taskTable th {
	background:#A0A0FF
}

table.taskTable td {
	background:#FFFFFF;
}

table.settingsTable td {
	border: 0;
	width:300px;
	height:20px;
	background:#FFFFFF;
}

table.addTaskTable th, table.addTaskTable td {
	border: 0;
	width:320px;
	height:20px;
	background:#FFFFFF;
}


table.updateTaskTable th, table.updateTaskTable td {
	border: 0;
	width:320px;
	height:20px;
	background:#FFFFFF;
}

table.addUserTable td {
	border: 0;
	width:180px;
	height:20px;
	background:#FFFFFF;
}

table.greyTable th, table.greyTable td {
	border: 0;
	width:200px;
	text-align: center;
}

table.greyTable th {
	background:#F0F0F0
}

table.greyTable td {
	background:#FFFFFF;
}


.center {
	text-align: center;
}

html .login-wrap {
	position: relative;
	margin: 0 auto;
	background: #ecf0f1;
	width: 350px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px #333;
	padding: 15px;
}
html .login-wrap .form {
	padding-top: 20px;
}
html .login-wrap .form input[type="text"],
html .login-wrap .form input[type="password"],
html .login-wrap .form button {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 25px;
	height: 40px;
	border-radius: 5px;
	outline: 0;
	-moz-outline-style: none;
}
html .login-wrap .form input[type="text"],
html .login-wrap .form input[type="password"] {
	border: 1px solid #bbb;
	padding: 0 0 0 10px;
	font-size: 14px;
}
html .login-wrap .form input[type="text"]:focus,
html .login-wrap .form input[type="password"]:focus {
	border: 1px solid #3498db;
}
html .login-wrap .form a {
	text-align: center;
	font-size: 10px;
	color: #3498db;
}
html .login-wrap .form a p {
	padding-bottom: 10px;
}
html .login-wrap .form button {
	background: #e74c3c;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow .4s ease;
}
html .login-wrap .form button:hover {
	box-shadow: 1px 1px 5px #555;
}
html .login-wrap .form button:active {
	box-shadow: 1px 1px 7px #222;
}

html .user_settings-wrap {
	position: relative;
	margin: 0 auto;
	background: #ecf0f1;
	width: 360px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px #333;
	padding: 15px;
}
html .user_settings-wrap .form {
	padding-top: 20px;
}
html .user_settings-wrap .form .label {
	width: 160px;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 20px;
	text-align: center;
}
html .user_settings-wrap .form input[type="text"],
html .user_settings-wrap .form input[type="password"]{
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 20px;
	border-radius: 5px;
	outline: 0;
	-moz-outline-style: none;
}
html .user_settings-wrap .form button {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 30px;
	border-radius: 5px;
	outline: 0;
	-moz-outline-style: none;
}
html .user_settings-wrap .form input[type="text"],
html .user_settings-wrap .form input[type="password"] {
	border: 1px solid #bbb;
	padding: 0 0 0 10px;
	font-size: 12px;
}
html .user_settings-wrap .form input[type="text"]:focus,
html .user_settings-wrap .form input[type="password"]:focus {
	border: 1px solid #3498db;
}
html .user_settings-wrap .form a {
	text-align: center;
	font-size: 10px;
	color: #3498db;
}
html .user_settings-wrap .form a p {
	padding-bottom: 10px;
}
html .user_settings-wrap .form button {
	background: #e74c3c;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow .4s ease;
}
html .user_settings-wrap .form button:hover {
	box-shadow: 1px 1px 5px #555;
}
html .user_settings-wrap .form button:active {
	box-shadow: 1px 1px 7px #222;
}

.start_page_button {
	height: 40px;
	width: 160px;
	margin: 40px;
	border:px solid #FFFFFF; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block; color: #FFFFFF;
	background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
	background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
	background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
	background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
	background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
	background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
}

#filmFilesColumns {
	width:100%;
	margin-left: 0%;
	margin-right: 0%;
}

#film_files_left_col {
	margin-left: 30%;
	margin-right: 10%;
	float:left;
	width:30%;
}

#film_files_right_col {
	margin-right: 15%;
	margin-left: 5%;
	float:right;
	width:10%;
}

#helpPageColumns {
	width:100%;
	margin-left: 10%;
	margin-right: 10%;
}

#left_col {
	float:left;
	width:35%;
}

#right_col {
	float:right;
	width:65%;
}

#alignSequencePageColumns {
	width:650px;
	margin-left: 10px;
	margin-right: 10px;
	/*margin: 10%;*/
}

#left_col_align_seq {
	/*margin-left: 10%;*/
	float:left;
	width:450px;
}

#right_col_align_seq {
	float:right;
	width:200px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
